@font-face {
	font-family: "Gilroy Extra Bold";
	src: url(../../assets/fonts/gilroy-extra-bold.otf);
}

@font-face {
	font-family: "Gilroy Light";
	src: url(../../assets/fonts/gilroy-light.otf);
}

:root {
	--page-width: 100%;
	--page-height: 100%;

	/* nav */
	--nav-width: 20.07vw;
	--nav-min-width: var(--nav-width);

	/* nav btn */
	--nav-btn-img-width: 1.4vw;
	--nav-btn-img-height: 1.4vw;
	--nav-btn-font-size: 2vw;
	--nav-btn-height: 9vw;
	--nav-btn-max-height: 10vh;
	--nav-btn-padding-left: 2vw;
	--nav-btn-padding-right: 4px;

	/* nav title */
	--nav-title-line-height: calc(2vh + 2vw);
	--nav-title-font-size: calc(2vh + 2vw);

	/* content */
	--content-left: var(--nav-width);
	--content-left-margin: 4.604vw;
	--content-width: 71vw;
	--content-vert-margin: 1vh;

	/* quote */
	--quote-font-size: calc(0.7vh + 0.8vw);
	--quote-line-height: calc(var(--quote-font-size) * 1.8);
	--quote-border-radius: 20px;

	/* quote content */
	--quote-content-horz-margin: 2vw;

	/* quote author */
	--quote-author-horz-padding: 8vw;
	--quote-author-vert-padding: 4vh;

	/* task container */
	--task-container-width: 65vw;
	--task-container-vert-margin: 1vh;
	--task-container-column-gap: 1vw;

	/* task */
	--task-min-width: 10vw;
	--task-min-height: var(--task-min-width);
	--task-font-size: calc(0.6vh + 0.7vw);

	/* task header */
	--task-header-margin-horz: 1.5vh;
	--task-header-margin-vert: 1.5vh;

	/* task content */
	--task-content-margin-horz: var(--task-header-margin-horz);
	--task-content-margin-vert: var(--task-header-margin-vert);

	/* task span img */
	--task-span-img-size: calc(5vw + 5vh);
	--task-span-img-margin: 5px;

	/* news switcher */
	--news-switcher-width: 10px;
	--news-switcher-height: calc(110vh + 20vw);
	--news-switcher-horz-margin: 1vw;
	--news-switcher-border-radius: 20px;

	/* news switcher btn */
	--news-switcher-btn-width: 10px;
	--news-switcher-btn-height: 5vh;
	--news-switcher-btn-border-radius: 20px;

	/* back btn */
	--back-btn-border-radius: 20px;
	--back-btn-margin-bottom: 2vh;
	--back-btn-width: 24vw;
	--back-btn-child-horz-padding: 1vw;
	--back-btn-img-horz-size: calc(2vw + 1vh);

	/* footer */
	--footer-width: 100vw;
	--footer-height: 30vh;
	--footer-top: 110vh;
	--footer-left: var(--nav-width);
}

html, body {
	min-height: var(--page-height);
	min-width: var(--page-width);
	width: var(--page-width);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

body {
	background-size: 100%;
	background: rgba(0,255,204,1) no-repeat center center fixed;
	background: linear-gradient(54deg, rgba(0,255,204,1) 0%, rgba(0,204,204,1) 100%) no-repeat center center fixed; 
}

h1, h2, h3, h4, h5, h6, p, a {
	font-family: "Gilroy Extra Bold";
	color: #fff;
}

.nav {
	left: 0;
	top: 0;
	position: fixed;
	display: inline-block;
	background-color: #333;
	width: var(--nav-width);
	min-height: var(--page-height);
	min-width: var(--nav-min-width);
	text-align: center;
	flex-direction: column;
}

.nav-title {
	line-height: var(--nav-title-line-height);
	font-size: var(--nav-title-font-size);
}

.nav-btn {
	display: flex;
	position: relative;
	text-decoration: none;
	height: var(--nav-btn-height);
	max-height: var(--nav-btn-max-height);
	text-align: center;
	align-items: center;
}

.nav-btn>h1 {
	font-size: var(--nav-btn-font-size);
}

.nav-btn>img {
	padding-left: var(--nav-btn-padding-left);
	padding-right: var(--nav-btn-padding-right);
	width: var(--nav-btn-img-width);
	height: var(--nav-btn-img-height);
}

.nav-cur-tab {
	background-color: #616161;
}

.content {
	position: absolute;
	left: var(--content-left);
	top: var(--content-top);
	margin-top: var(--content-vert-margin);
	margin-bottom: var(--content-vert-margin);
	margin-left: var(--content-left-margin);
	width: var(--content-width);
}

.quote {
	display: flex;
	position: relative;
	text-align: center;
	align-items: center;
	justify-content:space-between;
	border-radius: var(--quote-border-radius);
	flex-direction: row;
	background-color: #333;
	font-size: var(--quote-font-size);
	line-height: var(--quote-line-height);
	column-gap: vw;
}

.quote>* {
	padding: 0px 0px;
}

.quote-content {
	float: left;
	font-family: "Gilroy Light";
	margin-top: var(--quote-content-horz-margin);
	margin-bottom: var(--quote-content-horz-margin);
	margin-left: var(--quote-content-horz-margin);
	margin-right: var(--quote-content-horz-margin);
}

.quote-author {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: var(--quote-author-vert-padding);
	padding-bottom: var(--quote-author-vert-padding);
	padding-left: var(--quote-author-horz-padding);
	padding-right: var(--quote-author-horz-padding);
	font-family: "Gilroy Extra Bold";
    display: inline-block;
	background-color: #616161;
	border-radius: var(--quote-border-radius);
}

.tasks {
	display: flex;
	justify-content: space-between;
	column-gap: 1vw;
	width: var(--tasks-width);
	height: var(--tasks-height);
}

.task-container {
	float: left;
	display: flex;
	width: var(--task-container-width);
	justify-content: space-between;
	font-size: var(--task-font-size);
	margin-top: var(--task-container-vert-margin);
	margin-bottom: var(--task-container-vert-margin);
	column-gap: var(--task-container-column-gap);
}

.task-container>div {
	border-radius: var(--quote-border-radius);
	background-color: #333;
	width: var(--task-width);
	height: var(--task-height);
}

.task-container>div>h2 {
	margin-left: var(--task-header-margin-horz);
	margin-right: var(--task-header-margin-horz);
	margin-top: var(--task-header-margin-vert);
	margin-bottom: var(--task-header-margin-vert);
}

.task-container>div>h3 {
	font-family: "Gilroy Light";
	margin-left: var(--task-header-margin-horz);
	margin-right: var(--task-header-margin-horz);
	margin-top: var(--task-header-margin-vert);
	margin-bottom: var(--task-header-margin-vert);
}

.task-container>span {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 3px solid black;
	border-radius: var(--quote-border-radius);
	width: var(--task-width);
	height: var(--task-height);
}

.task-container>span>img {
	margin: var(--task-span-img-margin);
	width: var(--task-span-img-size);
	height: var(--task-span-img-size);
}

.task-container>span>h2 {
	margin-top: 0px;
}

.task-ctrl {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 6vh;
}

.task-ctrl>img {
	object-fit: fill;
	width: 30px;
	height: 65px;
	background-color: #333;
	border-radius: var(--quote-border-radius);
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding-left: 2vh;
	padding-right: 2vh;
}

.news {
	background-color: #616161;
	border-radius: 20px;
}

.news-header {
	font-size: calc(var(--task-font-size) * 1.2);
	display: flex;
	align-items: center;
	margin: 0px 0px;
}

.news-header>* {
	padding: calc(0.6vh + 0.6vw);
	margin: 0px 0px;
}

.news-header>a {
	padding: calc(0.4vh + 0.1vw);
	background-color: #0CC;
	border-radius: 20px;
	font-family: "Gilroy Light";
	text-decoration: none;
}

.news-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.news-row {
	background-color: #333;
	display: table;
	min-width: 100%;
}

.news-article {
	position: relative;
	display: table-cell;
	font-size: var(--task-font-size);
	padding: 1vh 1.6vw;
}

.news-article>h3 {
	font-family: "Gilroy Light";
}

.news-article>h3::after {
	content: '';
	display: block;
	width: 100%;
	height: calc(0.5vh + 0.5vw);
	background-color: #0CC;
	border-radius: var(--quote-border-radius);
	margin-top: 1vh;
}

.news-article>h4 {
	font-family: "Gilroy Light";
	margin: 0px 0px;
	padding: 0px 0px;
	float: right;
}

.news-article-splitter {
	position: absolute;
	display: table-cell;
	width: 1px;
	height: calc(10vh + 15vw);
	margin-top: 3vh;
	margin-bottom: 0px 0px;
	background-color: #616161;
}

.nothing {
	content: '';
	width: 100%;
	height: calc(1vh + 1.5vw);
}

.news-switcher {
	display: block;
	content: '';
	background-color: #616161;
	width: var(--news-switcher-width);
	height: var(--news-switcher-height);
	margin-left: var(--news-switcher-horz-margin);
	margin-right: var(--news-switcher-horz-margin);
	border-radius: var(--news-switcher-border-radius);
}

.news-switcher-btn {
	display: block;
	content: '';
	background-color: #333;
	width: var(--news-switcher-btn-width);
	height: var(--news-switcher-btn-height);
	border-radius: var(--news-switcher-btn-border-radius);
}

.back-btn {
	text-decoration: none;
	display: flex;
	flex-direction: row;
	background-color: #333;
	border-radius: var(--back-btn-border-radius);
	margin-bottom: var(--back-btn-margin-bottom);
	align-items: center;
	width: var(--back-btn-width);
	font-size: var(--task-font-size);
	transform: translateX(-2vw);
}

.back-btn>* {
	padding-left: var(--back-btn-child-horz-padding);
	padding-right: var(--back-btn-child-horz-padding);
}

.back-btn>img {
	width: var(--back-btn-img-horz-size);
	height: var(--back-btn-img-horz-size);
}

.back-btn>h2 {
	font-family: "Gilroy Light";
}

footer {
	top: var(--footer-top);
	position: absolute;
	background-color: #111;
	padding: 0 0;
	width: 100vw;
	height: 50%;
	display: block;
	row-gap: 1vh;
}

.ft-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #333;
}

.ft-content>* {
	margin: 0vh 4vw;
}

.ft-content>h1 {
	margin-top: 9vh;
	margin-bottom: 9vh;
}

.ft-tbl {
	text-align: center;
	display: block;
}

.ft-tbl>h2 {
	font-family: "Gilroy Light";
}

.ft-cols {
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	column-gap: 14vw;
	transform: translateX(-2vw);
}

.ft-col {
	font-size: calc(1vw + 0.7vh);
	text-align: center;
}

.ft-col>a {
	font-family: "Gilroy Light";
	text-decoration: none;
}

.ft-col>h2::after {
	content: '';
	display: block;
	background-color: white;
	height: 1px;
	transform: scaleX(1.5);
}

.ft-col>div>a>img {
	width: calc(2vw + 1vh);
	height: calc(2vw + 1vh);
}

.ft-btm {
	background-color: #111;
	height: 1vh;
	align-items: center;
	vertical-align: center;
}

.ft-btm>* {
	padding: 2vh 2vw;
	font-family: "Gilroy Light";
	margin: 0px 0px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    font-size: 18px; /* Увеличен размер текста в поле поиска */
    border: none;
    border-radius: 5px 0 0 5px;
    color: #000;
}

.search-bar button {
    padding: 10px;
    background-color: #2d2d2d; /* Тёмно-серый цвет */
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.actions button {
    margin-left: 10px;
    background-color: #2d2d2d; /* Тёмно-серый цвет */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px; /* Увеличен текст кнопок действий */
    cursor: pointer;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-row {
    display: flex;
    justify-content: space-between;
}

.task {
    background-color: #2d2d2d; /* Тёмно-серый цвет задач */
    color: #fff;
    padding: 20px; /* Увеличен внутренний отступ задач */
    font-size: 18px; /* Увеличен размер текста задач */
    font-weight: bold; /* Сделан жирным */
    border-radius: 20px; /* Закругление углов */
    flex: 1;
    margin: 2px;
    text-align: center;
}

/* no way ... */