@font-face {
	font-family: "Gilroy Extra Bold";
	src: url(../../assets/fonts/gilroy-extra-bold.otf);
}

@font-face {
	font-family: "Gilroy Light";
	src: url(../../assets/fonts/gilroy-light.otf);
}

:root {
	--page-width: 100%;
	--page-height: 100%;

	/* nav */
	--nav-width: 20.07vw;
	--nav-min-width: var(--nav-width);

	/* nav btn */
	--nav-btn-img-width: 1.4vw;
	--nav-btn-img-height: 1.4vw;
	--nav-btn-font-size: 2vw;
	--nav-btn-height: 9vw;
	--nav-btn-max-height: 10vh;
	--nav-btn-padding-left: 2vw;
	--nav-btn-padding-right: 4px;

	/* nav title */
	--nav-title-line-height: calc(2vh + 2vw);
	--nav-title-font-size: calc(2vh + 2vw);

	/* content */
	--content-left: var(--nav-width);
	--content-left-margin: 4.604vw;
	--content-width: 71vw;
	--content-vert-margin: 1vh;

	/* quote */
	--quote-font-size: calc(0.7vh + 0.8vw);
	--quote-line-height: calc(var(--quote-font-size) * 1.8);
	--quote-border-radius: 20px;

	/* quote content */
	--quote-content-horz-margin: 2vw;

	/* quote author */
	--quote-author-horz-padding: 8vw;
	--quote-author-vert-padding: 4vh;

	/* task container */
	--task-container-width: 65vw;
	--task-container-vert-margin: 1vh;
	--task-container-column-gap: 1vw;

	/* task */
	--task-min-width: 10vw;
	--task-min-height: var(--task-min-width);
	--task-font-size: calc(0.6vh + 0.7vw);

	/* task header */
	--task-header-margin-horz: 1.5vh;
	--task-header-margin-vert: 1.5vh;

	/* task content */
	--task-content-margin-horz: var(--task-header-margin-horz);
	--task-content-margin-vert: var(--task-header-margin-vert);

	/* task span img */
	--task-span-img-size: calc(5vw + 5vh);
	--task-span-img-margin: 5px;
}

html, body {
	min-height: var(--page-height);
	min-width: var(--page-width);
	width: var(--page-width);
}

body {
	background-size: 100%;
	background: rgba(0, 52, 51, 1) no-repeat center center fixed;
	background: linear-gradient(54deg, rgba(0, 52, 51, 1) 0%, rgba(0, 52, 51, 1) 100%) no-repeat center center fixed; 
}

h1, h2, h3, h4, h5, h6, p, a {
	font-family: "Gilroy Extra Bold";
	color: #fff;
}

.nav {
	left: 0;
	top: 0;
	position: absolute;
	display: inline-block;
	background-color: #333;
	width: var(--nav-width);
	min-height: var(--page-height);
	min-width: var(--nav-min-width);
	text-align: center;
	flex-direction: column;
	height: 100vh;
}

.nav-title {
	line-height: var(--nav-title-line-height);
	font-size: var(--nav-title-font-size);
}

.nav-btn {
	display: flex;
	position: relative;
	text-decoration: none;
	height: var(--nav-btn-height);
	max-height: var(--nav-btn-max-height);
	text-align: center;
	align-items: center;
}

.nav-btn>h1 {
	font-size: var(--nav-btn-font-size);
}

.nav-btn>img {
	padding-left: var(--nav-btn-padding-left);
	padding-right: var(--nav-btn-padding-right);
	width: var(--nav-btn-img-width);
	height: var(--nav-btn-img-height);
}

.nav-cur-tab {
	background-color: #616161;
}

.content {
	position: absolute;
	left: var(--content-left);
	top: var(--content-top);
	margin-top: 4.074vh;
	margin-bottom: var(--content-vert-margin);
	margin-left: 2.564vh;
	width: var(--content-width);
	height: 100vh;
}

.header {
	display: flex;
	position: relative;
	text-align: center;
	align-items: center;
	justify-content:space-between;
	flex-direction: row;
	line-height: var(--quote-line-height);
	column-gap: vw;
}

.search{
	justify-content:space-between;
	width: 32.883vw;
	height: 7.593vh;
	background: #333333;
	z-index: 2;
	justify-content:space-between;
	border: 2px solid transparent;
	border-radius: var(--quote-border-radius);
	position: relative;
} 

form {
	position: relative;
	width: 32.883vw;
	height: 7vh;
	margin: 0;
  }
  
input {
	width: 32.883vw;
	height: 8vh;
	padding-left: 5.1948vw;
	font-size: 2.9630vh;
	color: white;
	border: none;
  	outline: none;
	background: none;
  }

button {
	position: absolute; 
	top: -0.2vh;
	right: -0.2vw;
	width: 4.1558vw;
	height: 8vh;
	border: none;
	background: #616161;
	border-radius: 15px;
	cursor: pointer;
  }

button:before {
	content: "";
	background-image: url(../images/Filter.png);
	background-repeat: no-repeat;
	width: 2.234vw;
	height: 2.494vw;;
	position: absolute;
	margin: -1.852vh 0vw 3.852vh -1vw;
  }

.search::before{
	content: "";
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	width: 2.442vw;
	height: 2.494vw;;
	position: absolute;
	top: 1.667vh;
	left: 0.519vw;
	z-index: 2;
	cursor:pointer;
}

.search__sort {
	display: flex;
	width: 4.26vw;
	height: 7.593vh;
	background: #616161;
	z-index: 2;
	margin: -0.185vh 0 0 28.727vw;
	border: 2px solid transparent;
	border-radius: var(--quote-border-radius);
}

.search__sort::before{
	content: "";
	background-image: url(../images/Filter.png);
	background-repeat: no-repeat;
	width: 2.234vw;
	height: 2.494vw;;
	position: absolute;
	margin: 1.852vh 0px 1.852vh 1.039vw;
}

.notifications{
	display: flex;
	width: 4.26vw;
	height: 7.593vh;
	background: #333333;
	z-index: 2;
	border: 2px solid transparent;
	border-radius: var(--quote-border-radius);
	position: relative;
	cursor:pointer;
}

.notifications::before{
	content: "";
	background-image: url(../images/Bell.png);
	background-repeat: no-repeat;
	width: 1.87vw;
	height: 1.87vw;
	position: absolute;
	margin: 1.7vh 1.2vw;
}

.archive{
	display: flex;
	width: 4.26vw;
	height: 7.593vh;
	background: #333333;
	z-index: 2;
	border: 2px solid transparent;
	border-radius: var(--quote-border-radius);
	position: relative;
	cursor:pointer;
}

.archive::before{
	content: "";
	background-image: url(../images/Archive.png);
	background-repeat: no-repeat;
	width: 2.494vw;
	height: 2.494vw;
	position: absolute;
	margin: 1.3vh 1vw;
}

.filter{
	height: 88.426vh;
	width: 79.013vw;
}

.filter_back{
	position: relative;
	border-radius: 20px;
	width: 47.221vw;
	height: 74.63vh;
	background: rgba(0, 255, 204, 0.5);
	margin: 5.926vh 15.948vw 7.778vh 13.818vw;

}

.filter_back::before{
	content: "";
	background-image: url(../images/X.png);
	background-repeat: no-repeat;
	height: 2.494vw;
	width: 2.494vw;
	position: absolute;
	margin: 1.296vh 1.143vw 68.889vh 43.584vw;
	cursor:pointer;
}

.filter_back::after{
	content: "";
	background-image: url(../images/Check.png);
	background-repeat: no-repeat;
	height: 2.494vw;
	width: 2.494vw;
	position: absolute;
	margin: 67.685vh 1.143vw 2.5vh 43.584vw;
	cursor:pointer;
}

.container{
	position: absolute;
	display: grid;
	grid-template-columns: 12.6753vw 20.9351vw;
	grid-template-rows: 25.37vh 9.61vw 8.981vh 5.039vw;
	grid-column-gap: 2.13vh;
	grid-row-gap: 1.852vh;
	margin: 2.222vh 11.169vw 4.259vh 1.247vw;
}

.item{
	border-radius: 20px;
	background-color: #333;
	font-family: "Gilroy Light";
	font-weight: 400 !important;
	font-size: 2.963vh;
	letter-spacing: 0.02em;
	color: #fff;
}

.item p{
	font-family: "Gilroy Light"!important;
}

.item1{
	padding:10.833vh 1.662vw;
}


.item2 {
	padding: 0.926vh 1.714vw 3.056vh 5.403vw;
}

.item2 p{
	margin-bottom: 4.167vh;
	position: relative;
}

.item2 p::before{
	content: "";
	background-image: url(../images/Circle.png);
	background-repeat: no-repeat;
	height: 150%;
	width: 150%;
	position: absolute;
	margin: -1vh 0 0 -3.636vw;
	cursor:pointer;
}

.item3{
	padding: 6.759vh 3.429vw;
}

.item4{
	padding: 0.926vh 1.766vw 2.407vh 8.623vw;
}

.item4 p{
	margin-bottom: 3.148vh;
}

.item4__wait{
	position: relative;
}

.item4__wait::before{
	content: "";
	background-image: url(../images/Clock.png);
	background-repeat: no-repeat;
	height: 2.494vw;
	width: 2.494vw;
	position: absolute;
	margin: -0.37vh 0 0 -3.117vw;
}

.item4__wait::after{
	content: "";
	background-image: url(../images/Circle.png);
	background-repeat: no-repeat;
	height: 2.494vw;
	width: 2.494vw;
	position: absolute;
	margin: -0.37vh 0 0 -16vw;
	cursor:pointer;
}

.item4__process{
	position: relative;
}

.item4__process::before{
	content: "";
	background-image: url(../images/Loader.png);
	background-repeat: no-repeat;
	height: 2.494vw;
	width: 2.494vw;
	position: absolute;
	margin: -0.37vh 0 0 -3.117vw;
}

.item4__process::after{
	content: "";
	background-image: url(../images/Circle.png);
	background-repeat: no-repeat;
	height: 2.494vw;
	width: 2.494vw;
	position: absolute;
	margin: -0.37vh 0 0 -15.4vw;
	cursor:pointer;
}

.item5{
	padding: 2.593vh 3.74vw;
}

.item6 p{
	text-align: center;
	margin: 1.852vh 1.039vw;
	font-weight: 400;
	font-size: 3.704vh;
	letter-spacing: 0.02em;
	color: #fff;
	cursor:pointer;
}

.item6 p::before{
	content: "";
	background-image: url(../images/Track.png);
	background-repeat: no-repeat;
	border-radius: 8px;
	width: 4vw;
	height: 0.37vh;
	position: absolute;
	background: #e8def8;
	margin: 3.704vh -5.662vw;

}

.item6 p::after{
	content: "";
	background-image: url(../images/Track.png);
	background-repeat: no-repeat;
	border-radius: 8px;
	width: 4vw;
	height: 0.37vh;
	position: absolute;
	background: #e8def8;
	margin: 3.704vh 1.662vw;

}


.item7{
	padding: 2.593vh 4.312vw;
}

.item8{
	position: relative;
	font-weight: 400;
	font-size: 43.704vh;
	letter-spacing: 0.02em;
	color: #fff;	
	cursor:pointer;
}

.item8__dot1{
	position: absolute;
	padding: 3.056vh 7.013vw; 
}

.item8__dot1::before{
	content: "";
	background-image: url(../images/Track.png);
	background-repeat: no-repeat;
	border-radius: 8px;
	width: 4vw;
	height: 0.37vh;
	position: absolute;
	background: #e8def8;
	margin: 3.1481vh -4.5714vw;

}

.item8__dot1::after{
	content: "";
	background-image: url(../images/Track.png);
	background-repeat: no-repeat;
	border-radius: 8px;
	width: 4vw;
	height: 0.37vh;
	position: absolute;
	background: #e8def8;
	margin: 3.148vh -3.831vw;

}

.item8__dot2{
	position: absolute;
	padding: 3.056vh 13.091vw;
}

.item8__dot2::after{
	content: "";
	background-image: url(../images/Track.png);
	background-repeat: no-repeat;
	border-radius: 8px;
	width: 4vw;
	height: 0.37vh;
	position: absolute;
	background: #e8def8;
	margin: 3.148vh -3.9vw;

}

footer {
	top: var(--footer-top);
	position: absolute;
	background-color: #111;
	padding: 0 0;
	width: 100vw;
	height: 50%;
	display: block;
	row-gap: 1vh;
	margin: 100vh 0 0 0;
}

.ft-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #333;
}

.ft-content>* {
	margin: 0vh 4vw;
}

.ft-content>h1 {
	margin-top: 9vh;
	margin-bottom: 9vh;
}

.ft-tbl {
	text-align: center;
	display: block;
}

.ft-tbl>h2 {
	font-family: "Gilroy Light";
}

.ft-cols {
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	column-gap: 14vw;
	transform: translateX(-2vw);
}

.ft-col {
	font-size: calc(1vw + 0.7vh);
	text-align: center;
}

.ft-col>a {
	font-family: "Gilroy Light";
	text-decoration: none;
}

.ft-col>h2::after {
	content: '';
	display: block;
	background-color: white;
	height: 1px;
	transform: scaleX(1.5);
}

.ft-col>div>a>img {
	width: calc(2vw + 1vh);
	height: calc(2vw + 1vh);
}

.ft-btm {
	background-color: #111;
	height: 1vh;
	align-items: center;
	vertical-align: center;
}

.ft-btm>* {
	padding: 2vh 2vw;
	font-family: "Gilroy Light";
	margin: 0px 0px;
}
