@font-face {
	font-family: "Gilroy Extra Bold";
	src: url(../../assets/fonts/gilroy-extra-bold.otf);
}

@font-face {
	font-family: "Gilroy Light";
	src: url(../../assets/fonts/gilroy-light.otf);
}

a { text-decoration: none; }

.cont {
    position: relative;
    left: 23.63vw;
}
.search {
    background-color: #333333;
    border-radius: 0.52vw;
    max-width: 34.69vw;
    max-height: 4.17vw;
    margin-top: 3.96vw;
}
.poisk>img {
    height: 2.09vw;
    max-width: 2.09vw;
    margin: 1.04vw;
    position: relative;
}

.filtr>img {
    position: relative;
    height: 2.09vw;
    max-width: 2.09vw;
    margin: 1.04vw;
    float: right;
}

.notif>img {
    position: relative;
    left: 45.49vw;
    width: 4.17vw;
    height: 4.17vw;
    top: -4.99vw;
}

.arch>img {
    position: relative;
    left: 60.36vw;
    width: 4.17vw;
    height: 4.17vw;
    top: -4.99vw;
}

.trach>img {
    position: relative;
    left: 1110px;
    bottom: 80px;
    max-width: 4.17vw;
    max-height: 4.17vw;
}

.search input {
    outline: none;
    background-color: #333333;
    color: #ffffff;
    font-size: 2.09vw;
    max-height: 3.55vw;
    max-width: 25vw;
    text-align: left;
    border-radius: 0.52vw;
    position: relative;
    bottom: 0.85vw;
    
}

.plus>img {
    max-width: 2.5vw;
    margin: 0.78vw;
}

.new_task {
    position: relative;
    left: 4vw;
    bottom: 3.2vw;
    font-size: 1.67vw;
	font-family: "Gilroy Light";
    
}

.your_task {
    position: relative;
    margin-top: 1.1vw;
    max-width: 34.69vw;
    background-color: #333333;
    border-radius: 0.52vw;
    max-height: 44.34vw;
    color: #ffffff;
}

.btn-1>img {
    margin: 1.04vw;
    width: 2.09vw;
    height: 2.09vw;
}

.btn-2>img {
    position: relative;
    width: 2.09vw;
    height: 2.09vw;
    bottom: 1vw;
}

.btn-3>img {
    position: relative;
    float: right;
    bottom: 5.5vw;
    right: 1.04vw;
    width: 2.09vw;
}

.btn-4>img {
    position: relative;
    float: right;
    top: 1.5vw;
    right: 4vw;
    width: 2.09vw;
    height: 2.09vw;
}

.your_task>div.text-1 {
    text-align: center;
    font-size: 2.19vw;
	font-family: "Gilroy Light";
    position: relative;
    top: -3.6vw;
}

.line>img {
    width: 32.34vw;
    height: 0.21vw;
    position: relative;
    left: 1.25vw;
    bottom: 3vw;
}

.spisok-1 {
    display: inline-flex;
}

.spisok-1>img {
    max-width: 1.77vw;
    max-height: 37.35vw;
    position: relative;
    left: 1.72vw;
    top: -1.8vw;
}

ul.spisok-1-1 {
    list-style-type: none;
    font-size: 1.24vw;
	font-family: "Gilroy Light";
    position: relative;
    bottom: 2.8vw;
    /*bottom: 682px;*/
}

.spisok-1-1 li {
    margin-bottom: 1.40vw;
}


ul.spisok-1-2 {
    list-style-type: none;
    font-size: 1.67vw;
	font-family: "Gilroy Light";
    position: relative;
    left: 2vw;
    top: -26.8vw;
    margin-top: 1.4vw;
}

.spisok-1-2 li {
    margin-bottom: 0.78vw;
}

.your_task_2 {
    position: relative;
    max-width: 34.69vw;
    left: 62.28vw;
    background-color: #333333;
    color: #ffffff;
    border-radius: 0.52vw;
    max-height: 20.87vw;
    top: -45.7vw;
}

.your_task_2>div.text-1 {
    text-align: center;
    font-size: 1.87vw;
	font-family: "Gilroy Light";
    position: relative;
    bottom: 3.4vw;
}


ul.spisok-2-1 {
    list-style-type: none;
    font-size: 1.24vw;
	font-family: "Gilroy Light";
    position: relative;
    bottom: 2.8vw;
}

.spisok-2-1 li {
    margin-bottom: 1.40vw;
}

.sp2>img {
    max-width: 1.77vw;
    max-height: 37.35vw;
    position: relative;
    left: 1.72vw;
    top: -3.4vw;
}


.your_task_3 {
    position: relative;
    max-width: 34.69vw;
    left: 62.28vw; 
    margin-top: 2.87vw;
    top: -47vw;
    background-color: #333333;
    border-radius: 0.52vw;
    max-height: 20.87vw;
    color: #ffffff;
}

ul.spisok-3-1 {
    list-style-type: none;
    font-size: 1.25vw;
	font-family: "Gilroy Light";
    position: relative;
    top: -3vw;
}

.your_task_3>div.text-1 {
        text-align: center;
        font-size: 1.87vw;
        font-family: "Gilroy Light";
        position: relative;
        bottom: 3.3vw;
}

.spisok-3-1 li {
    margin-bottom: 1.40vw;
}




.your_task_1 {
    position: relative;
    margin-top: 1.1vw;
    max-width: 34.69vw;
    background-color: #333333;
    border-radius: 0.52vw;
    max-height: 44.34vw;
    color: #ffffff;

}

.your_task_1>div.text-1 {
    text-align: center;
    font-size: 2.19vw;
	font-family: "Gilroy Light";
    position: relative;
    top: -3.6vw;
}


a:hover { cursor: pointer;}

footer {
    /* Позиционируем footer внизу main */
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*.containergrid {
    display: grid;
    grid-template-rows: 100px 300px 300px 300px 300px;
    grid-template-columns: 500px 800px 800px;
}

.your_task {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}

.your_task_2 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

.your_task_3 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}*/

/*li.map {
    float: right;
    margin: 20px;
}*/

footer {
	top: var(--footer-top);
	position: absolute;
	background-color: #111;
	padding: 0 0;
	width: 100vw;
	height: 50%;
	display: block;
	row-gap: 1vh;
	margin: 100vh 0 0 0;
}

.ft-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #333;
}

.ft-content>* {
	margin: 0vh 4vw;
}

.ft-content>h1 {
	margin-top: 9vh;
	margin-bottom: 9vh;
}

.ft-tbl {
	text-align: center;
	display: block;
}

.ft-tbl>h2 {
	font-family: "Gilroy Light";
}

.ft-cols {
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	column-gap: 14vw;
	transform: translateX(-2vw);
}

.ft-col {
	font-size: calc(1vw + 0.7vh);
	text-align: center;
}

.ft-col>a {
	font-family: "Gilroy Light";
	text-decoration: none;
}

.ft-col>h2::after {
	content: '';
	display: block;
	background-color: white;
	height: 1px;
	transform: scaleX(1.5);
}

.ft-col>div>a>img {
	width: calc(2vw + 1vh);
	height: calc(2vw + 1vh);
}

.ft-btm {
	background-color: #111;
	height: 1vh;
	align-items: center;
	vertical-align: center;
}

.ft-btm>* {
	padding: 2vh 2vw;
	font-family: "Gilroy Light";
	margin: 0px 0px;
}

